<div class="container ">
  <div class="alert alert-danger mt-5 text-center">
    <h3>Invalid URL, please try again !</h3>
    <h4>{{errorLink}}</h4>
  </div>
</div>
<a href="/">
  <div class="alert alert-success mt-5 text-center" >
    <h4>Back to Home</h4>
  </div>
</a>
</div>
