<div class="container">
  <div class="row">
    <div class ="col-12 col-lg-10 col-xl-8 mx-auto">
      <h1>URL Shortener</h1>

      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" width="400"
      height="400" class="d-flex" alt="url short">
    </div>
  <form action="/" method="POST">
    <input class="form-control" type="url" name="url" placeholder="Input url here" value="{{originUrl}}"
      style="width: 60vw">
    <button type="submit" class="btn btn-success m-2 p-2">Shorten</button>
  </form>
  </div>
</div>

{{#if short}}
<div class="alert alert-success text-center mt-5" role="alert">
  <h4>Success, please copy this Link!</h4>
</div>
<div class=" d-inline-block text-center" id="shorturl" style="width: 50vw">
  <h5>{{short}}</h5>
</div>

{{/if}}
