<div class="container">
  <div class="row">
    <div class ="col-12 col-lg-10 col-xl-8 mx-auto">
    <h1>URL Shortener</h1>

    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" width="400" height="400" class="d-flex" alt="url short">
    </div>
    <form action="POST">
    <div class="mt-5">
    <input class="form-control" type="url" id="originUrl" placeholder="type url here..." name="originUrl">
    <button class="btn btn-success" type="submit">shorten</button>
    </div>
    </form>
  </div>
</div>
