<div class="container">
  <div class="column align-items-center">
    <div class ="text-center mt-5">
      <h1>URL Shortener</h1>

      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" width="300"
      height="300" class="mt-5" alt="url short">

  <form action="/" method="POST">
    <input class="form-control mt-5 p-3 fs-4" type="url" name="url" placeholder="Input url here..." value="{{originUrl}}" required>
    <button type="submit" class="btn btn-primary m-2 p-3">Shorten</button>
  </form>
  </div>
  </div>
</div>

{{#if short}}
<div class="alert alert-info text-center mt-5">
  <h4>Success, please use this Link!</h4>
</div>
<div class=" d-flex-inline text-center fs-4">
  <p id="short-url">{{short}}</p>

  <button class="d-inline btn btn-secondary m-2" onclick="copy()" >Copy</button>
</div>
<script>
  function copy() {
    let copyText = document.getElementById("short-url")
    navigator.clipboard.writeText(copyText.innerText)
    alert("Copied : " + copyText.innerText)
  }
</script>
{{/if}}
